// COLORS
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-blue: hsl(229, 23%, 23%);
$grayblue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

// FONT SIZE
$size: 18px;

// FONT FAMILY
$kumbh: 'Kumbh Sans', sans-serif;

// FONT SIZE
$reg: 400;
$bold: 700;