//COLOR
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-blue: hsl(229, 23%, 23%);
$grayblue: hsl(227, 10%, 46%);
$darkgray: hsl(0, 0%, 59%);

//FONT FAMILY
$kumbh: 'Kumbh Sans', sans-serif;

//FONT WEIGHT
$reg: 400;
$bold: 700;